body{
    font-size: 45px;
}

.parent{
    background-color: #0f0;
    padding: 5px;
    display: flex;
    height:50vh;
    flex-wrap: wrap;
  
   



}

.parent > div{
    background-color: #00f;
    margin: 10px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parent > div:nth-child(even){
    background-color: aqua;
}

.item-3{
    align-self:flex-start;
}

    